.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__container {
  display: flex;
}

.main__left-form {
  display: flex;
  flex-direction: column;
}

.main__right {
  margin-left: 25px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #d1cfcf;
  text-align: left;
  padding: 8px;
}

.modal-window {
  width: 100% !important;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.462);
  position: absolute;
  z-index: 99999;
  top: 0;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}

.modal-window .modal-body {
  max-width: 500px;
  min-height: 420px;
  background: rgba(255, 255, 255, 0.718);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.edit-modal-window {
  width: 100% !important;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.462);
  position: absolute;
  z-index: 99999;
  top: 0;
  /* backdrop-filter: blur(5px); */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}

.edit-modal-window .edit-modal-body {
  max-width: 500px;
  min-height: 420px;
  background: rgba(255, 255, 255, 0.718);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.close {
  right: 6px;
}

.edit-close {
  right: 6px;
}

.form {
  display: flex;
  flex-direction: column;
}
